@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-bottom {
  clip-path: inset(0 0 2.5rem 0);
}
.clip-top {
  clip-path: inset(4rem 0 0 0);
}

.swiper {
  width: 100%;
  height: 100%;
  /* margin: 20px auto; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #febf31 !important;
}

.swiper-rtl .swiper-button-next:after {
  content: "prev";
  left: 0;
  position: absolute;
  padding: 0.5rem 1rem !important;
  font-size: 20px;
  font-weight: bold;
  color: #febf31;
  background-color: white;
  padding: 0.5rem;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 142.1 76.2% 36.3%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 142.1 76.2% 36.3%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0 8%;
      --foreground: 0 0% 95%;
      --card: 24 9.8% 20%;
      --card-foreground: 0 0% 95%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --primary: 142.1 70.6% 45.3%;
      --primary-foreground: 144.9 80.4% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 15%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 142.4 71.8% 29.2%;
    }
  }

  @layer utilities {
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
      /* Removes spinner in WebKit browsers (Chrome, Safari, etc.) */
      -webkit-appearance: none; /* Vendor-specific prefix */
      appearance: none; /* Standard property */
      margin: 0;
    }

    .no-spinner {
      /* Removes spinner in Firefox */
      -moz-appearance: textfield; /* Vendor-specific prefix */
      -webkit-appearance: none; /* For WebKit browsers */
      appearance: none; /* Standard property */
    }
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .focus {
    @apply focus:rounded-md focus:outline-none focus:ring-2 focus:ring-primary;
  }
}
